<footer class="footer">
    <button class="footer__button" title="Scroll up" name="Scroll up" type="button"><a title="Header" href="#Header"><img src="./assets/images/ico-arrow.svg"
        alt="Scroll up" /></a></button>
    <nav class="footer__nav">
      <ul>
        <li><a class="footer__nav--list" title="Adalab home" href="https://adalab.es/" target="_blank">Articles</a></li>
        <li><a class="footer__nav--list" title="Adalab home" href="https://adalab.es/" target="_blank">Books</a></li>
        <li><a class="footer__nav--list" title="Adalab home" href="https://adalab.es/" target="_blank">Events</a></li>
        <li><a class="footer__nav--list" title="Adalab home" href="https://adalab.es/" target="_blank">Reasons</a></li>
        <li><a class="footer__nav--list" title="Adalab home" href="https://adalab.es/" target="_blank">Tips</a></li>
      </ul>
    </nav>
    <nav class="footer__nav">
      <ul>
        <li><a class="footer__nav--list" title="Adalab home" href="https://adalab.es/" target="_blank">Twitter</a></li>
        <li><a class="footer__nav--list" title="Adalab home" href="https://adalab.es/" target="_blank">Instagram</a></li>
        <li><a class="footer__nav--list" title="Adalab home" href="https://adalab.es/" target="_blank">Mastodon.social</a></li>
      </ul>
    </nav>
    <nav class="footer__nav">
      <ul class="footer__nav--list">
        <li class="copy">&copy;2022</li>
        <li class="love">we <i class="fa-solid fa-heart"> </i> components</li>
      </ul>
    </nav>
  </footer>