<footer class="footer">
    <button title="Scroll up" name="Scroll up" type="button"><img src="../assets/images/ico-arrow.svg"
        alt="Scroll up" /></button>
    <nav class="footer__nav">
      <ul class="footer__nav--list">
        <li>&copy;2022</li>
        <li>we <i class="fa-solid fa-heart"></i> components</li>
      </ul>
    </nav>
    <nav class="footer__nav">
      <ul class="footer__nav--list">
        <li>Articles</li>
        <li>Books</li>
        <li>Events</li>
        <li>Reasons</li>
        <li>Tips</li>
      </ul>
    </nav>
    <nav class="footer__nav">
      <ul class="footer__nav--list">
        <li>Twitter</li>
        <li>Instagram</li>
        <li>Mastodon.social</li>
      </ul>
    </nav>
  </footer>