<footer class="footer">
    <button class="footer__button" title="Scroll up" name="Scroll up" type="button"><img src="../assets/images/ico-arrow.svg"
        alt="Scroll up" /></button>
    <nav class="footer__nav">
      <ul>
        <li><a class="footer__nav--list" title="Adalab home" href="https://adalab.es/">Articles</a></li>
        <li><a class="footer__nav--list" title="Adalab home" href="https://adalab.es/">Books</a></li>
        <li><a class="footer__nav--list" title="Adalab home" href="https://adalab.es/">Events</a></li>
        <li><a class="footer__nav--list" title="Adalab home" href="https://adalab.es/">Reasons</a></li>
        <li><a class="footer__nav--list" title="Adalab home" href="https://adalab.es/">Tips</a></li>
      </ul>
    </nav>
    <nav class="footer__nav">
      <ul>
        <li><a class="footer__nav--list" title="Adalab home" href="https://adalab.es/">Twitter</a></li>
        <li><a class="footer__nav--list" title="Adalab home" href="https://adalab.es/">Instagram</a></li>
        <li><a class="footer__nav--list" title="Adalab home" href="https://adalab.es/">Mastodon.social</a></li>
      </ul>
    </nav>
    <nav class="footer__nav">
      <ul class="footer__nav--list">
        <li class="copy">&copy;2022</li>
        <li class="love">we <i class="fa-solid fa-heart"> </i> components</li>
      </ul>
    </nav>
  </footer>