<section class="reasons">
    <h2 class="reasons__title">3 Reasons to purchase</h2>
    <include class="reasons__article" src="./article.html"
        class="reasons__article--title" title="Ut sed metus";
        class="reasons__article--text" text="Lorem ipsum dolor sit amet, consecteur.";>
    </include>
    <include class="reasons__article" src="./article.html"
        class="reasons__article--title" title="Curabitur ac erat";
        class="reasons__article--text" text="Mauris mattis urna quis lorem molestie.";>
    </include>
    <include class="reasons__article" src="./article.html"
        class="reasons__article--title" title="Morbi dictum";
        class="reasons__article--text" text="Aliquam in dolor et dolor tincidunt.";>
    </include>
    <button class="reasons__title--button" title="More reasons" name="More reasons" type="button">More reasons</button>
  </section>