<section class="reasons">
    <h2>3 Reasons to purchase</h2>
    <include src="./article.html"
        title="Ut sed metus";
        text="Lorem ipsum dolor sit amet, consecteur.";>
    </include>
    <include src="./article.html"
        title="Curabitur ac erat";
        text="Mauris mattis urna quis lorem molestie.";>
    </include>
    <include src="./article.html"
        title="Morbi dictum";
        text="Aliquam in dolor et dolor tincidunt.";>
    </include>
    <button title="More reasons" name="More reasons" type="button">More reasons</button>
  </section>