/*$colorText: purple;

@mixin title ($color) {
    text-transform: uppercase;
    text-align: center;
    color: $color;
}*/

$colormenu: #0271bc;
$colorTitle: #ffffff;
$colorTips: #8ccbea;
$colorSubtitle: #000000;
$tipsText: #4a4a4a;
$lineHeight: 30px;
$colorButton: #f26002;
$backgroundReasons: #eff9ff;

