*.footer {
  text-align: center;
  background-color: $colormenu;
  &__button {
    padding: 08px 13px 08px 13px;
    border-radius: 40px;
    border: none;
    position: absolute;
    background-color: $colorTitle;
    object-fit: contain;
    transform: translate(-50%, -50%);
  }

  &__button:hover {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    animation: bounce 0.7s infinite linear;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: $colorSubtitle;
    font-size: 16px;

    @media all and (min-width: 768px) {
      padding-top: 10px;
      flex-direction: row-reverse;
      gap: 30px;
      justify-content: space-around;
      text-align: left;
      padding-bottom: 40px;
      align-items: flex-start;
    }

    @media all and (min-width: 1200px) {
      padding: 20px 370px 40px 370px;
    }

    .articles {
      @media all and (min-width: 768px) {
        order: 3;
        padding-top: 0;
      }
    }

    .components {
      @media all and (min-width: 768px) {
        font-size: 14px;
        margin: 30px 30px 0 0px;
      }

    }

      .media {
        @media all and (min-width: 768px) {
          order: 2;
          font-size: 14px;
          margin: 30px 30px 0 0px;
        }
      
    }

    &__nav {
      margin-top: 45px;
      &--list {
        @include title(
          $colorSubtitle,
          16px,
          300,
          $lineHeight,
          uppercase,
          $fontFamily1
        );
        text-decoration: none;

        @media all and (min-width: 768px) {
          text-align: left;
        }

        .copy {
          font-size: 14px;
        }

        .love {
          padding-bottom: 50px;
          font-size: 14px;
          text-transform: lowercase;

          .fa-heart {
            color: $colorButton;
          }

          .fa-heart+span {
            color: $colorButton;
          }
        }

        /*.components{
          color: $colorButton;
        }*/
      }
    }
  }
}

@keyframes bounce {
  0% {
    transform: translate(-50%, -50%);
  }
  25% {
    transform: translate(-50%, -65%);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  75% {
    transform: translate(-50%, -35%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
