.footer{
  background-color: $backgroundFooter;
  display: flex;
  flex-direction:column;
  align-items:center;
  text-transform: uppercase;
  text-align: center;
  color: $colorTitle;
  font-size: 16px;
  &__button{
    padding: 08px 13px 08px 13px;
    border-radius: 40px;
    border: none;
    transform: translateY(-50%);
    background-color: $colorTitle;
    object-fit: contain;
  }
  &__nav{
    margin-top: 30px;
    &--list{
      text-decoration: none;
      color: $colorTitle;
      font-size: 16px;
      line-height: $lineHeight;
      font-weight: 300;
      font-family: 'Roboto';
    }
  }
}

.footer__nav--list .copy{
  font-size: 14px;
}

.footer__nav--list .love{
  display: inline-block;
  padding-bottom: 50px;
  font-size: 14px;
  text-transform: lowercase;
}

.footer__nav--list i{
  color: $colorButton;
}