.header{
    &__menu{
        &--button{
            background-color: $colormenu;
            border: none;
            position: fixed;
            top: 0;
            padding: 0px 15px 10px 15px;
        }
    }
}
