.hero{
    background-image: url('../images/cover.jpeg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    &__title{
        font-family: 'Roboto Slab';
        color: $colorTitle;
        font-size: 42px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
        margin: 0 0 40px 0px;
        line-height: 55px;
        width: 15ch;
        &--second{
            color: $colorTitle;
            line-height: 19px;
            font-size: 16px;
            text-align: center;
            margin: 0px 0 35px 0;
        }
    }
}

.hero .button{
    padding: 15px 10px 10px 11px;
    border-radius: 22.5px;
    border: none;
    margin: 35px 0 60px 0;
}