.reasons{
    background-color: $backgroundReasons;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    text-align: center;
    &__title{
        font-family: RobotoSlab;
        font-size: 24px;
        font-weight: bold;
        line-height: $lineHeight;
        color: $colorSubtitle;
        margin: 29px 15px 49px 15px;
        &--button{
            font-size: 20px;
            font-weight: 500;
            line-height: 45px;
            color: $colorTitle;
            margin: 10px 29.5px 0 30.5px;
            border: none;
            background-color: $colorButton;
            border-radius: 22.5px;
        }
    }
}
