.tips {
  &__title {
    @include title(
      $colorSubtitle,
      24px,
      700,
      $lineHeight,
      capitalize,
      $fontFamily2
    );
    margin: 0 0 0 15px;
    width: 20ch;
    text-align: left;

    @media all and (min-width: 768px) {
      font-size: 26px;
      line-height: 45px;
      margin: 0 0 27px 39px;
      width: auto;
    }

    @media all and (min-width: 1200px) {
      font-size: 32px;
      margin: 0 0 0 275px;
    }

    &--description {
      font-family: $fontFamily1;
      @include text($tipsText, 18px, $lineHeight, left);
      margin: 10px 15px 0 15px;

      @media all and (min-width: 768px) {
        font-size: 20px;
        margin: 27px 39px 27px 39px;
        width: auto;
      }

      @media all and (min-width: 1200px) {
        margin: 32px 150px 0 275px;
      }
    }
  }

  .small {
    @include text($colorTips, 14px, $lineHeight, left);
    margin: 50px 0 0px 15px;
    font-family: $fontFamily1;
    text-transform: capitalize;

    @media all and (min-width: 768px) {
      margin: 30px 0 0 39px;
    }

    @media all and (min-width: 1200px) {
      font-size: 16px;
      margin: 65px 0 0 275px;
    }
  }

  .button {
    @include button($colorButton, $fontFamily1, 20px, 40px, 22px, white, 500);
    margin: 30px 0 40px 20px;
    border-radius: 22px;
    border: solid 2px;
    padding: 0 23px 0 23px;
    transition: 0.2s;

    @media all and (min-width: 768px) {
      margin: 0 32.5px 60px 40px;
      line-height: 45px;
      padding: 0 33px 0 33px;
      width: auto;
      border-radius: 27px;
    }

    @media all and (min-width: 1200px) {
      margin: 27px 0 60px 275px;
      padding: 0 67px 0 67px;
    }
  }
}

.tips .button:hover {
  background-color: $colorButton;
  color: $colorTitle;
  cursor: pointer;
}
