.tips{
    &__title{
        color: $colorSubtitle;
        font-size: 24px;
        font-family: 'Roboto Slab';
        font-weight: 700;
        line-height: $lineHeight;
        margin: 0 0 0 15px;
        text-transform: capitalize;
        width: 20ch;
        text-align: left;
        &--description{
            color: $tipsText;
            font-size: 18px;
            line-height: $lineHeight;
            text-align: left;
            margin: 10px 0 0 15px;
        }
    }
}

.tips .small{
    font-size: 14px;
    color: $colorTips;
    margin: 50px 0 0px 15px;
    line-height: $lineHeight;
    text-align: left;
}

.tips .button{
    margin: 30px 0 40px 20px;
    color: $colorButton;
    font-size: 20px;
    line-height: 40px;
    border-radius: 22px;
    border: solid 2px;
    border-color: $colorButton;
    padding: 0 23px 0 23px;
    background-color: white;
}